
<app-header></app-header>


<!--================================
=            Page Title            =
=================================-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Blog</a></li>
      </ol>
    </nav>
    <div style="margin-bottom: 50px;margin-right: 150px;">
      <ul class="navbar-nav ml-auto mt-10">
        <li class="nav-item">
          <a class="nav-link text-white add-button" href="/create-post"><i class="fa fa-plus-circle"></i> Add Post</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--==================================
=            Blog Section            =
===================================-->


<section class="blog section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				<!-- Article 01 -->
				<article *ngFor="let post of posts ; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePost(post, i)" routerLink="/blog-post/{{ currentPost.id }}">
            <!-- Post Image -->
            <div class="image">
              <img src="../../../assets/images/blog/post-1.jpg" alt="article-01">
            </div>
            <!-- Post Title -->
            <h3>{{ post.title }}</h3>
            <ul class="list-inline">
              <li class="list-inline-item">by <a href="">Admin</a></li>
              <li class="list-inline-item">{{ post.createdAt | date }}</li>
            </ul>
            <!-- Post Description -->
            <p class="">{{post.publication_txt}}</p>
            <!-- Read more button -->
            <a (click) = "postDetails(post.id)" class="btn btn-transparent">Read More</a>
        </article>

				<!-- Pagination -->
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li class="page-item active"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item"><a class="page-link" href="#">3</a></li>
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Next">
				        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
        
				<div class="sidebar">
					<!-- Search Widget -->
					<div class="widget search p-0">
						<div class="input-group">
						    <input type="text" class="form-control" id="expire" placeholder="Search...">
						    <span class="input-group-addon"><i class="fa fa-search"></i></span>
					    </div>
					</div>
					<!-- Category Widget -->
					<div class="widget category">
						<!-- Widget Header -->
						<h5 class="widget-header">Categories</h5>
						<ul class="category-list">
							<li><a href="">Appearel <span class="float-right">(2)</span></a></li>
							<li><a href="">Accesories <span class="float-right">(5)</span></a></li>
							<li><a href="">Business<span class="float-right">(7)</span></a></li>
							<li><a href="">Entertaiment<span class="float-right">(3)</span></a></li>
							<li><a href="">Education<span class="float-right">(9)</span></a></li>
						</ul>
					</div>
					<!-- Archive Widget -->
					<div class="widget archive">
						<!-- Widget Header -->
						<h5 class="widget-header">Archives</h5>
						<ul class="archive-list">
							<li><a href="">January 2017</a></li>
							<li><a href="">February 2017</a></li>
							<li><a href="">March 2017</a></li>
							<li><a href="">April 2017</a></li>
							<li><a href="">May 2017</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<app-footer></app-footer>
