<app-header></app-header>

    



    <!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>	
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content" >
			<div class="form-left">
				<img class="myleft" src="assets/FormTsAssets/images/wpower.jpg" alt="form"  >
			</div>
			<form class="form-detail" action="#" method="post" (ngSubmit) = "onSubmit()">
				<h2 class="p1"> <strong>Create a Question</strong> </h2>
				<br>

				

				<div class="form-row">
					<span class="label">Question Text :</span>
					<input type="text" name="questiontext" id="questiontext" class="input-text" [(ngModel)] = "q.questiontext" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
						
				</div>

				
				<div class="form-row">
					<span class="label">Valid :</span>
					<input type="text" name="isvalid" id="isvalid" class="input-text" [(ngModel)] = "q.isvalid" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
						
				</div>

				<div class="form-row">
					<span class="label">Id Quiz :</span>
					<input type="text" name="idQuiz" id="idQuiz" class="input-text" [(ngModel)] = "quiz.idQuiz " required >
						
				</div>

		

				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
				
			</form>
		</div>
	</div>
</body><!-- This templates was made by khaoula bouslimi -->
</html>


<app-footer></app-footer>
