<app-header></app-header>

    



    <!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>	
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content" >
			<div class="form-left">
				<img class="myleft" src="assets/FormTsAssets/images/wpower.jpg" alt="form"  >
			</div>
			<form class="form-detail" action="#" method="post" (ngSubmit) = "onSubmit()">
				<h2 class="p1"> <strong>Create a Quiz</strong> </h2>
				<br>

				<div class="form-row">
					<span class="label">Title :</span>
					<input type="text" name="Title" id="Title" class="input-text" [(ngModel)] = "q.name" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>

				<div class="form-row">
					<span class="label">Duration :</span>
					<input type="text" name="Duration" id="Duration" class="input-text" [(ngModel)] = "q.duration" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
						
				</div>

				<div class="form-row">
					<span class="label">Location :</span>
					<input type="text" name="location" id="location" class="input-text" [(ngModel)] = "q.location" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
						  
				</div>

				<div class="form-row">
					<span class="label">Description :</span>
					<input type="text" name="description" id="description" class="input-text" [(ngModel)] = "q.description" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
						
				</div>

				<div class="form-row">
					<span class="label">Trainer :</span>
					<input type="text" name="trainerSname" id="trainerSname" class="input-text" [(ngModel)] = "q.trainerSname" required >
						
				</div>

				<div class="form-row">
					<span class="label">Published :</span>
					<input type="text" name="isPublished" id="isPublished" class="input-text" [(ngModel)] = "q.isPublished" required >
						
				</div>

				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
				
			</form>
		</div>
	</div>
</body><!-- This templates was made by khaoula bouslimi -->
</html>


<app-footer></app-footer>
